table {
    width: 100%;
}
table,th,td{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px;
}

caption {
    color: #e63946;
    font-family: 'Trocchi' ,serif;
    font-size: 40px;
    line-height: 70px;
}
td {
    text-align: center;
}

th{
    color: #f1faee;
    background-color: #1d3557;
}

/*Regñpmes pare*/
tr:nth-child(even){
    background-color: #f1faee;
}

/*Reglones impares*/
tr:nth-child(odd){
    background-color: #f1faaa;
}